.cat {
  &__container {
    display: block;
    padding: 4rem 0;
  }

  &__one {
    .cat-one-weight {
      transform-origin: 0% 0%;
    }
  }

  &__two {
    .cat-two-z {
      opacity: 0;
    }
  }

  &__three {
    opacity: 0;

    .cat-three-ping {
      opacity: 0;
    }

    #cat-three-mouth {
      opacity: 0;
    }
  }

  &__four {
    .cat-four-dot {
      opacity: 0;
    }
  }
}

#path-one {
  stroke-width: 3;
  stroke: gray;
}

.art-deco {
  margin: 0 auto;
  max-width: 600px;
}

.container-art-deco {
  background-color: #012d3b;
}

#deco-one {
  stroke: lightblue !important;
}

#deco-two {
  stroke: red !important;
  display: none;
}

#deco-three {
  stroke: green !important;
}

#deco-four {
  stroke: white !important;
}

.snowflake-container {
  background-color: #11001c;
  min-height: 100vh;
  overflow: hidden;
}

.snowflake {
  padding: 100px;
  width: 700px;
  position: absolute;
  opacity: 0.3;

  &.snowflake-1 {
    bottom: -205px;
    right: -205px;
  }

  &.snowflake-2 {
    top: -205px;
    left: -205px;
  }

  polyline,
  line {
    stroke: #faf1e8 !important;
    stroke-width: 2px !important;
  }
}

.snowflake-text {
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.rainbow-container {
  background-color: #cdf2f2;
}

.rainbow {
  width: 900px;
}

.rainbow-sparkles {
  opacity: 0;
}

#cloud-sad-smile,
.cloud-sad-eye-right,
.cloud-sad-eye-left,
#cloud-happy-mouth-open,
.cloud-smiling-eye {
  visibility: hidden;
}

.cloud-sad-left-tear,
.cloud-sad-right-tear,
.cloud-cheek {
  opacity: 0;
}

.square-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  position: relative;
}

.square {
  background-color: navy;
  height: 200px;
  width: 200px;
}

.cloud {
  height: 300px;
  width: 300px;
}

.dark-cloud {
  height: 100px;
  width: 100px;
  position: absolute;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 80px;
  height: 400px;
  width: 100%;
  background-color: teal;

  span {
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%;
 
    &:hover {
      background-size: 200% 100%;
    }
  }
}

$primary: #140032;

:root {
  --primary: #{$primary};
}

.wavey-container {
  background-color: var(--primary);
  overflow: hidden;
  margin: 0;
  perspective: 1000px;
  height: 700px;

  *,*:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .wavey-lines {
    &:nth-child(1) {
      transform: scale(-1, -1);
    }

    &:nth-child(2) {
      transform: scale(1, -1);
    }
  }

  .wavey {
    width: 500px;
    height: 50px;
    // animation: waves 3s ease-in-out 4;
    animation: waves 3s ease-in-out infinite;

    &:after{
      content: "";
      display: inline-block;
      width: inherit;
      height: inherit;
      border-left: 2px solid transparent;
      border-right: 1px solid transparent;
      border-radius: 50%;
    }

    @for $i from 0 through 50 {
      &:nth-child(#{$i + 1}) {
        animation-delay: -$i * 1.5s / 50;
        &:after {
          transform: rotate(-$i * 90deg / 10) translateZ($i * 200px / 50) scaleY(-1 - $i * 1 / 20);
          border-color: hsla(100 + ($i * 50 / 20), 100%, 50%, 1);
        }
      }
    }
  }
}

@keyframes waves {
  100%{
    // transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.large-container {
  height: auto;
}

.parallax-container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.parallax {
  background: url('../../assets/image-one.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
  z-index: 99;
}