.cat {
  &__container {
    padding: 6rem 0;
  }

  &__one {
    .cat-one-weight {
      transform-origin: 0% 0%;
    }
  }

  &__two {
    .cat-two-z {
      opacity: 0;
    }
  }

  &__three {
    opacity: 0;

    .cat-three-ping {
      opacity: 0;
    }

    #cat-three-mouth {
      opacity: 0;
    }
  }

  &__four {
    .cat-four-dot {
      opacity: 0;
    }
  }
}

#path-one {
  stroke-width: 3;
  stroke: gray;
}
